.DS_Store
package-lock.json
DWARF4.pdf
DWARF5.pdf
wasm-info.code-workspace
*.sublime-workspace
*.sublime-project
git-copy.sh
git-copy2.sh
dist/examples
dist/testing
dist/flows
dist/workflows
dist/todo.md
dist/lab/**
dist/wat-example.wat
archive/**
node_modules/**
.vscode/tab-goups.localStorage.json
dist/lab/**

# bin files
bin/wasm-ylinker.map